<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      </div>
      <div class="col-lg-6">
        <h1>About us</h1>
        <p class="lead">The Tech 'n Everything  is focused creating a space for all the tech enthusiasts, who want to know 'All things Tech'.
          The platform is created for those who need information about the latest insights about Technology and also get the chance to post about the latest news in the Tech industry. 
          Experts get to review the news and give insights. The Site has also included an online test feature for canidates.</p>
      
      </div>
    </div>
  </div>
