
<main>
<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Technology, Our lives</h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>      <div>
        <h4 class="fw-bold mb-0">How technology has made impact with directions</h4>
        <p>GNSS technology is constantly changing and will continue to shape our lives in the future. Although GNSS technology is widely used, its further development is far from being over. Swiss made quality. Ultra-low power usage. Mass market ready. Accurate positioning.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Technology equipment</h4>
        <p>It is said tech is the new norm of our lives </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Appointment with technlogy</h4>
        <p>Calendaring apps fall under that classification, too, which is why it is a technology that the best appointment scheduling software for small!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Smart houses</h4>
        <p>Smart home allows homeowners to control appliances, thermostats, lights, and other devices remotely using a smartphone or tablet through an internet connection. Smart homes can be set up through wireless or hardwired systems. Smart home technology provides homeowners with convenience and cost savings.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
      <div>
        <h4 class="fw-bold mb-0">What technology has done</h4>
        <p>Modern technology has paved the way for multi-functional devices like the smartwatch and the smartphone. Computers are increasingly faster, more portable</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Technology movement</h4>
        <p> Technology Choice A Critique Of The Appropriate Technology Movement. By. Kelvin W Willoughby. Copyright Year 1990.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
     
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Services with technology</h4>
        <p>Software development, integration and maintenance.
          Hardware.
          Networking integration, management and maintenance.
          Information security (IS)
          IT management consultants.
          Mobile services.
          Web applications.</p>
      </div>
    </div>
  </div>
</div>
</main>

