
<header>

<main>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Tech 'n Everything </h1>
      <p class="lead text-muted">Everything that you want to know about Technology</p>
      <p class="images">
        <img [src]="pic1">
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic2">
          <div class="card-body">
            <h3 class="card-text">Latest News</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>Recent news about the new technology</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic3">
          <div class="card-body">
            <h3 class="card-text">Internet of Things</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>The concept of all things conected through wifi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic">;

          <div class="card-body">
            <h3 class="card-text">Deviare-Full Stack Web Development</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <p>
                 Full Stack Web Developer student's are the future of South African Technology.
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic3">

          <div class="card-body">
            <h3 class="card-text">Dark Web</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <p>
                  Hackers frome the dark web said said to have control the 10% of the internetthat no regular person has access to. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic5">
          <div class="card-body">
            <h3 class="card-text"> More inclusive camera</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
               <p>
                Google says it is creating a smartphone camera that more accurately depicts skin tone.
               </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img [src]="pic4">

          <div class="card-body">
            <h3 class="card-text">AI-curated albums</h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <p>
                Google Photos will use AI to curate collections to share with the user, similar to Memories on Apple and Facebook.A big complaint from users of Apple's or Facebook's feature is when people are reminded of breakups or tough times in their lives.Google says they have taken this into consideration and will allow users to control which photos they do or don't see by letting them remove specific images, people or time periods.
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</main>